          <h3 class="mat-h3">Сколько человек я могу подключить к своим VPN серверам?</h3>
          <p class="mat-body-1">
          Сколько угодно. Но имейте в виду, что каждое активное соединение потребляет ресурсы (оперативную память и процессор) сервера. Если у вас слабый сервер, при большом количестве активных соединений сервер может замедлиться в работе и VPN соединения начнут работать с перебоями. Для минимальной безопасности, сервера по умолчанию настроены на максимум 100 одновременных соединений. Если вы уверены в мощности своего сервера - вы можете изменить эти настройки (для этого требуются навыки системного администрирования. обратитесь к <a href="http://10.1.0.1:81" target="_blank">документации</a> для подробностей)
          </p>
          <h3 class="mat-h3">После подключения к TOR я становлюсь анонимным?</h3>
          <p class="mat-body-1">
          Анонимность в интернете - это целый комплекс мер, и анонимизация своего IP - только одна из них. Просто подключение через сеть TOR не обеспечивает вашей анонимности, имейте это в виду. Почитайте в интернете более подробную информацию и проведите соответсвующие меры, для уверености в своей анонимности.
          </p>
          <h3 class="mat-h3">Могу ли я изменить настройки серверов и клиентов?</h3>
          <p class="mat-body-1">
          VPNFace Light использует OpenSource компоненты, и просто устанавливает ряд конфигураций для них. Всё это может быть изменено и перенастроено человеком со знаниями и навыками linux системного администратора. Обратитесь к <a href="http://10.1.0.1:81" target="_blank">документации</a> для подробностей.
          </p>
          <h3 class="mat-h3">Почему пропадает интернет во время подключения к администраторскому VPN серверу?</h3>
          <p class="mat-body-1">
          Администраторский сервер по умолчанию, для безопасности, настроен без доступа в интернет.
          </p>
          <h3 class="mat-h3">Почему я не могу удалить ключ?</h3>
          <p class="mat-body-1">
          Каждый пользовательсткий ovpn файл содержит в себе ключи подключения к серверу. OpenVPN создаёт их разово при установке и использует их в дальнейшем для всех клиентов, в связи с чем просто удаление ключа не обеспечит безопасности - требуется специальная запись о блокировке ключа. Используйте опции "заблокировать" (<mat-icon>no_encryption</mat-icon>) и "разблокировать" (<mat-icon>vpn_lock</mat-icon>) для управления ключами.
          </p>
          <h3 class="mat-h3">Я потерял администраторский ключ и не могу больше попасть в админку. Всё пропало?</h3>
          <p class="mat-body-1">
          Конечно нет. Но без навыков системного администрирования тут не обойтись. Подключитесь к вашему серверу через веб консоль хостера, и посмотрите <a href="http://10.1.0.1:81" target="_blank">документацию</a> для того, что бы найти ваши ключи на сервере.
          </p>

