<div class="grid-container">
  <h1 class="mat-h1">Завершение установки</h1>
  <mat-grid-list cols="1" [rowHeight]="300">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-subtitle>Поздравляем!</mat-card-subtitle>
        <mat-card-content class="dashboard-card-content" style="text-align:left;">
          <mat-progress-bar style="margin: 4pt 0;" mode="indeterminate"></mat-progress-bar>
          <br/>
          <p class="mat-body-1">
            Вы успешно установили себе OpenVPN клиент, загрузили в него ключ соединения и подключились к своему серверу!
          </p>
          <p class="mat-body-1">
            Не закрывайте эту страницу!
          </p>
          <p class="mat-body-1">
            Сейчас происходит завершение установки и подготовка сервера к работе. Финальная часть установки занимает в среднем в два раза больше времени, чем предыдущий шаг.
          </p>
          <ul class="steps">
            <li>Создание "Интернет VPN" сервера. Пользователи, подключившиеся к этому впн будут выходить в интернет сразу с сервера. Для всего интернета ip адрес пользователя (публичный ip) и страна будет определяться как ip адрес и страна сервера.</li>
            <li>Создание "Dark VPN" сервера. Пользователи будут выходить в интернет через сеть TOR. Публичный ip адрес и страна пользователя будут меняться случайным образом каждые 15-20 минут. Сайты *.onion будут доступны напрямую.</li>
            <li>Настройка "Админ ВПН". Установка администраторских сервисов и панелей управления для администрирования.</li>
            <li>Финальная настройка файрвола.</li>
          </ul>
          <p class="mat-body-1">
            После завершения установки вы перейдёте к панели управления автоматически.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="grid-container">
  <h2 class="mat-h2">Вопросы и ответы</h2>
  <mat-grid-list cols="1" [rowHeight]="300">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content" style="text-align:left;">

          <h3 class="mat-h3">Ничего не происходит.</h3>
          <p class="mat-body-1">
          Скорее всего на сервере генерируются ключи - на слабых серверах это может длиться до 10и минут. В данный момент требуется создать два vpn сервера, так что суммарно это можно занять до 20 минут. Не закрывайте страницу. Если всё длится уже дольше получаса без изменений - есть вероятность, что что-то всё же пошло не так. Попробуйте открыть панель управления по адресу <a href="http://10.1.0.1" _target="blank">http://10.1.0.1</a> - если ничего не вышло,  Вам понадобятся навыки linux администрирования и <a href="http://vpnface-lite.rtfd.io/" target="_blank">online документация</a>. Сервер доступен для ssh подключения по адресу 10.1.0.1
          </p>

          <app-help-faq></app-help-faq>

          <h3 class="mat-h3">Справка</h3>
          <p class="mat-body-1">
          После установки вы всегда сможете найти справочную информацию в разделе "справка" <mat-icon>help_outline</mat-icon>. Внутренняя документация так же станет доступна после завершения установки.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
